*{
    /* border: 1px solid black; */
}
body{
    font-family: sans-serif;
    text-align: center;
    justify-content: center;
}


#box-container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#box-image{
    flex: 50%;
}

#conteudo{
    flex: 50%;
    width: fit-content;
    text-align: left;
}

#palavra{
    border: 1px solid black;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
}

#inserirletra{
    text-align: center;
}