*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background: white;
}

.navbar{
    display: flex; 
    color: rgb(78, 78, 78);
    height: 50px;
    background: gainsboro;
    justify-content: center;
    align-items: center;
    /* border-bottom: 3px solid #822b27; */
    border: 1px solid black;
    margin: 0;
}

.navtitulo{
    flex: 30%;
    font-size: 30px;
    /* border: 1px solid black; */
    font-weight: bold;
    text-align: center;
}

.navtitulo img{
    width: 25px;
}

.navmenu{
    flex: 70%;
    text-align: right;
    padding: 20px;
    
}

.navmenu a{
    text-decoration: none;
    color: rgb(78, 78, 78);
    padding: 15px;
}

.header{
    display: flex;
    /* background: grey; */
    height: 200px;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    /* border: 1px solid black; */

}

.headerimg{
    flex: 0%;
    
    /* border: 1px solid black; */
}

.header img{
    flex: 0%;
    width: 200px;
    /* border: 1px solid black; */
}

.headertitulo{
    flex: 50%;
    /* border: 1px solid black; */
    font-size: 15px;
    padding: 10px;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    margin-left: 2%;
}

.headertitulo h1{
    /* border: 1px solid black; */
    font-size: 25px;
    margin: 0px;
}

.headertitulo h2{
    /* border: 1px solid black; */
    margin: 0px;
}

.headertitulo h3{
    /* border: 1px solid black; */
    margin: 0px;
}

section{
    height:fit-content;
    
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.dado1{
    border: 1px solid black;
    padding-left: 20px;
    
}

.dado2{
    border: 1px solid black;
    padding-left: 20px;
}

.dado3{
    border: 1px solid black;
    padding-left: 20px;
}

.dado4{
    border: 1px solid black;
    
}

.dado4 h1{
    padding-left: 20px;
}
.imagens{
    display: flex;
    text-align: center;
    padding-left: 0px;
}

.img1{
    flex: 25%;
}

.img2{
    flex: 25%;
}

.img3{
    flex: 25%;
}

.img4{
    flex: 25%;
}

.form{
    display: flex;
    margin: 5%;

}

.h3{
    margin: 5%;
}

.formnome{
    flex: 33%;
}

.formmsg{
    flex: 33%;
}

.botao{
    flex: 34%;
    text-align: center;
    
}

.botao a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#blank{
    color: white;
    border: 1px solid black;
}